.git
*.log
*.log.*
*.zip
*.hva
*.old
*.class
*~
/.externalToolBuilders
/bin
/generated
/classes
/dist
/transactionLogs
/test-bin
/logs
/log
.project
.classpath
.settings
.checkstyle
.DS_Store
/.metadata/
